In [19]:
import numpy as np
import pandas as pd

In [24]:
df = pd.read_csv("loan.csv", index_col="id")

/usr/local/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2705: DtypeWarning: Columns (19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [25]:
df.head()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
id,,,,,,,,,,,,,,,,,,,,,
1077501,1296599,5000,5000,4975,36 months,10.65,162.87,B,B2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1077430,1314167,2500,2500,2500,60 months,15.27,59.83,C,C4,Ryder,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1077175,1313524,2400,2400,2400,36 months,15.96,84.33,C,C5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1076863,1277178,10000,10000,10000,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1075358,1311748,3000,3000,3000,60 months,12.69,67.79,B,B5,University Medical Group,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df.describe()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
count,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,887379.000000,887375.000000,887379.000000,887350.000000,887350.000000,...,21372.000000,18617.000000,21372.000000,21372.000000,21372.000000,21372.000000,817103.000000,21372.000000,21372.000000,21372.000000
mean,35001824.815562,14755.264605,14741.877625,14702.464383,13.246740,436.717127,75027.587761,18.157039,0.314442,0.694623,...,36552.811389,71.535317,1.389060,2.975482,5887.979740,60.831939,32068.620045,0.943945,1.537058,1.977307
std,24113354.675557,8435.455601,8429.897657,8442.106732,4.381867,244.186593,64698.300142,17.190626,0.862244,0.998448,...,43103.833619,23.022862,1.520129,2.631886,5284.701239,20.013254,37498.258326,1.446872,2.723339,2.874067
min,70473.000000,500.000000,500.000000,0.000000,5.320000,15.670000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-4.000000
25%,10877133.500000,8000.000000,8000.000000,8000.000000,9.990000,260.705000,45000.000000,11.910000,0.000000,0.000000,...,10251.500000,58.600000,0.000000,1.000000,2411.000000,47.700000,13900.000000,0.000000,0.000000,0.000000
50%,37095283.000000,13000.000000,13000.000000,13000.000000,12.990000,382.550000,65000.000000,17.650000,0.000000,0.000000,...,24684.500000,74.900000,1.000000,2.000000,4483.000000,61.900000,23700.000000,0.000000,0.000000,2.000000
75%,58471347.000000,20000.000000,20000.000000,20000.000000,16.200000,572.600000,90000.000000,23.950000,0.000000,1.000000,...,47858.000000,87.600000,2.000000,4.000000,7771.500000,75.200000,39800.000000,1.000000,2.000000,3.000000
max,73544841.000000,35000.000000,35000.000000,35000.000000,28.990000,1445.460000,9500000.000000,9999.000000,39.000000,33.000000,...,878459.000000,223.300000,22.000000,43.000000,127305.000000,151.400000,9999999.000000,17.000000,35.000000,32.000000

In [28]:
df.columns

Index(['member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term',
       'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
       'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl',
       'inq_last_12m'],
      dtype='object')

In [22]:
label = (df["loan_status"] == "Fully Paid") | (df["loan_status"] == "Current")

In [23]:
np.mean(label)

0.91223930248518392

In [27]:
quant_feats = ["loan_amnt", "int_rate", "dti", "annual_inc"]

In [29]:
cat_feats = ["grade", "home_ownership"]

In [30]:
df[quant_feats + cat_feats]

          loan_amnt  int_rate    dti  annual_inc grade home_ownership
id
1077501        5000     10.65  27.65    24000.00     B           RENT
1077430        2500     15.27   1.00    30000.00     C           RENT
1077175        2400     15.96   8.72    12252.00     C           RENT
1076863       10000     13.49  20.00    49200.00     C           RENT
1075358        3000     12.69  17.94    80000.00     B           RENT
1075269        5000      7.90  11.20    36000.00     A           RENT
1069639        7000     15.96  23.51    47004.00     C           RENT
1072053        3000     18.64   5.35    48000.00     E           RENT
1071795        5600     21.28   5.55    40000.00     F            OWN
1071570        5375     12.69  18.08    15000.00     B           RENT
1070078        6500     14.65  16.12    72000.00     C            OWN
1069908       12000     12.69  10.78    75000.00     B            OWN
1064687        9000     13.49  10.08    30000.00     C           RENT
1069866        3000      9.91  12.56    15000.00     B           RENT
1069057       10000     10.65   7.06   100000.00     B           RENT
1069759        1000     16.29  20.31    28000.00     D           RENT
1065775       10000     15.27  18.60    42000.00     C           RENT
1069971        3600      6.03  10.52   110000.00     A       MORTGAGE
1062474        6000     11.71  18.44    84000.00     B       MORTGAGE
1069742        9200      6.03   9.86    77385.19     A           RENT
1069740       20250     15.27  26.53    43370.00     C           RENT
1039153       21000     12.42  13.22   105000.00     B           RENT
1069710       10000     11.71  11.18    50000.00     B            OWN
1069700       10000     11.71  16.01    50000.00     B           RENT
1069559        6000     11.71   2.40    76000.00     B           RENT
1069697       15000      9.91  29.44    92000.00     B       MORTGAGE
1069800       15000     14.27  15.22    60000.00     C           RENT
1069657        5000     16.77  13.97    50004.00     D           RENT
1069799        4000     11.71   5.63   106000.00     B       MORTGAGE
1047704        8500     11.71  12.19    25000.00     B           RENT
...             ...       ...    ...         ...   ...            ...
36691397      20000      6.99  27.24    72000.00     A       MORTGAGE
36500819      10300     13.66  15.72    93600.00     C           RENT
36743377       4200     15.99  36.93    48000.00     D       MORTGAGE
36231083      15000     11.99   8.47    70000.00     B           RENT
36371802      15000     11.44  15.77    57000.00     B           RENT
36250801       6000     17.86   2.84    90000.00     D       MORTGAGE
36331554      26950      8.19  18.11    54000.00     A           RENT
36460697      23000     15.59  31.95    50000.00     D       MORTGAGE
35773415      18700     17.86  11.28    52000.00     D           RENT
36440728      25000     15.99   5.27   103000.00     D           RENT
35591131      25000     15.59   5.52    55000.00     D            OWN
36361815      26500      8.67  29.60    92000.00     B       MORTGAGE
36201871      21000      6.03  17.09    65000.00     A       MORTGAGE
36381756       8000      8.19  17.62    50000.00     A       MORTGAGE
36231724      12000      9.49  25.65    40000.00     B           RENT
36231718      10775      6.03  13.22    54000.00     A           RENT
36381704       7000     14.31  16.80    57000.00     C           RENT
36241316       6225     16.49  18.58    27000.00     D           RENT
36301729      10000      6.49  33.66    75000.00     A           RENT
36250208      13150     14.99   1.00    30000.00     C       MORTGAGE
36421485       4000      8.67  12.63    50000.00     B       MORTGAGE
35094480       7500      9.49  25.63    40000.00     B           RENT
36260758      10850     19.24  29.44    32000.00     E            OWN
36330911      12000     11.99  23.69    63000.00     B       MORTGAGE
36221446      11575     15.59  27.08    25400.00     D           RENT
36371250      10000     11.99  28.69    31000.00     B           RENT
36441262      24000     11.99   3.90    79000.00     B       MORTGAGE
36271333      13000     15.99  30.90    35000.00     D           RENT
36490806      12000     19.99  27.19    64400.00     E           RENT
36271262      20000     11.99  10.83   100000.00     B           RENT

[887379 rows x 6 columns]

In [33]:
pd.value_counts(df["grade"])

B    254535
C    245860
A    148202
D    139542
E     70705
F     23046
G      5489
Name: grade, dtype: int64

In [54]:
from sklearn import preprocessing

enc = preprocessing.LabelEncoder()
enc.fit(df["grade"])
grade_nums = enc.transform(df["grade"])
grade_nums

array([1, 2, 2, ..., 3, 4, 1])

In [55]:
enc.inverse_transform(grade_nums)

array(['B', 'C', 'C', ..., 'D', 'E', 'B'], dtype=object)

In [57]:
pd.value_counts(df["home_ownership"])

MORTGAGE    443557
RENT        356117
OWN          87470
OTHER          182
NONE            50
ANY              3
Name: home_ownership, dtype: int64

In [62]:
grade_dummies = pd.get_dummies(df["grade"])
ho_dummies = pd.get_dummies(df["home_ownership"])
feat_df = df[quant_feats].join(grade_dummies).join(ho_dummies)
feat_df.head()

,loan_amnt,int_rate,dti,annual_inc,A,B,C,D,E,F,G,ANY,MORTGAGE,NONE,OTHER,OWN,RENT
id,,,,,,,,,,,,,,,,,
1077501,5000,10.65,27.65,24000,0,1,0,0,0,0,0,0,0,0,0,0,1
1077430,2500,15.27,1.00,30000,0,0,1,0,0,0,0,0,0,0,0,0,1
1077175,2400,15.96,8.72,12252,0,0,1,0,0,0,0,0,0,0,0,0,1
1076863,10000,13.49,20.00,49200,0,0,1,0,0,0,0,0,0,0,0,0,1
1075358,3000,12.69,17.94,80000,0,1,0,0,0,0,0,0,0,0,0,0,1

In [81]:
feat_df = feat_df.fillna(0.)

In [82]:
print(len(label), len(feat_df))

887379 887379

In [83]:
from sklearn import cross_validation as cv

X_train, X_test, y_train, y_test = cv.train_test_split(feat_df, label, stratify=label)

In [84]:
len(y_train), len(y_test), np.mean(y_train), np.mean(y_test)

(665534, 221845, 0.91223889388070334, 0.91224052829678381)

In [85]:
X_train

,loan_amnt,int_rate,dti,annual_inc,A,B,C,D,E,F,G,ANY,MORTGAGE,NONE,OTHER,OWN,RENT
id,,,,,,,,,,,,,,,,,
11668660,21000,15.31,12.05,115500,0,0,1,0,0,0,0,0,0,0,0,1,0
23885838,5600,14.49,14.45,24000,0,0,1,0,0,0,0,0,0,0,0,0,1
5085812,16000,23.76,18.48,107389,0,0,0,0,0,1,0,0,0,0,0,0,1
39987761,28800,8.67,12.01,90000,0,1,0,0,0,0,0,0,0,0,0,0,1
21130692,16000,13.98,12.96,90000,0,0,1,0,0,0,0,0,1,0,0,0,0
17542934,25000,19.52,15.16,500000,0,0,0,0,1,0,0,0,1,0,0,0,0
11276154,10000,17.57,13.07,72000,0,0,0,1,0,0,0,0,0,0,0,0,1
11657094,28000,11.99,17.09,104000,0,1,0,0,0,0,0,0,1,0,0,0,0
27710747,6600,18.99,35.01,45000,0,0,0,0,1,0,0,0,0,0,0,1,0
46602317,10975,14.65,27.22,25000,0,0,1,0,0,0,0,0,0,0,0,0,1
36380963,30000,21.99,35.88,118008,0,0,0,0,1,0,0,0,0,0,0,0,1
27591464,31200,24.08,15.32,125000,0,0,0,0,0,1,0,0,1,0,0,0,0
51997828,7000,9.99,13.80,90000,0,1,0,0,0,0,0,0,0,0,0,1,0
26407829,8000,20.99,20.92,67500,0,0,0,0,1,0,0,0,1,0,0,0,0
35949756,10100,19.99,14.57,51800,0,0,0,0,1,0,0,0,1,0,0,0,0
51987521,10000,12.69,23.88,40000,0,0,1,0,0,0,0,0,0,0,0,0,1
44078291,4000,9.17,11.56,62000,0,1,0,0,0,0,0,0,0,0,0,0,1
57458453,8000,14.65,27.25,32500,0,0,1,0,0,0,0,0,0,0,0,0,1
7385858,11250,9.99,10.46,60000,0,1,0,0,0,0,0,0,0,0,0,0,1
65745953,16000,7.26,13.11,115000,1,0,0,0,0,0,0,0,1,0,0,0,0
10173422,6500,11.99,24.96,60000,0,1,0,0,0,0,0,0,1,0,0,0,0
7639254,10000,9.99,14.44,30000,0,1,0,0,0,0,0,0,0,0,0,0,1
66451787,2500,11.22,24.02,8000,0,1,0,0,0,0,0,0,0,0,0,0,1
812619,18000,17.99,21.83,158899,0,0,0,0,1,0,0,0,1,0,0,0,0
1263156,3500,13.67,15.72,20000,0,1,0,0,0,0,0,0,0,0,0,0,1
32048902,14800,13.18,21.90,114000,0,0,1,0,0,0,0,0,1,0,0,0,0
2054851,11500,6.62,11.04,35000,1,0,0,0,0,0,0,0,1,0,0,0,0
475463,10000,17.56,23.47,75510,0,0,0,0,1,0,0,0,1,0,0,0,0
1582870,19125,19.05,27.59,44000,0,0,0,1,0,0,0,0,0,0,0,0,1
60954159,8000,9.17,21.68,36000,0,1,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29423890,12000,12.99,7.55,45000,0,0,1,0,0,0,0,0,1,0,0,0,0
37691768,12000,8.67,12.91,62000,0,1,0,0,0,0,0,0,1,0,0,0,0
44826403,21600,9.99,12.96,105000,0,1,0,0,0,0,0,0,1,0,0,0,0
27380452,20950,17.57,15.34,50000,0,0,0,1,0,0,0,0,0,0,0,1,0
4297382,13250,13.11,11.28,40000,0,1,0,0,0,0,0,0,1,0,0,0,0
16572342,4900,14.99,9.07,51600,0,0,1,0,0,0,0,0,0,0,0,0,1
25247047,15000,16.99,19.42,70000,0,0,0,1,0,0,0,0,1,0,0,0,0
11688101,9000,14.98,15.19,55000,0,0,1,0,0,0,0,0,1,0,0,0,0
6405825,17300,6.03,7.33,45000,1,0,0,0,0,0,0,0,1,0,0,0,0
20702254,6000,12.49,9.54,60000,0,1,0,0,0,0,0,0,0,0,0,0,1
55219908,35000,19.99,37.32,203000,0,0,0,0,1,0,0,0,1,0,0,0,0
1183049,19200,22.78,23.37,39950,0,0,0,0,0,1,0,0,0,0,0,0,1
40590202,14350,12.99,37.16,59000,0,0,1,0,0,0,0,0,1,0,0,0,0
38545012,6000,8.67,3.03,80000,0,1,0,0,0,0,0,0,0,0,0,0,1
54373813,8000,15.61,31.41,40000,0,0,0,1,0,0,0,0,0,0,0,0,1
14658222,5000,12.49,19.44,40000,0,1,0,0,0,0,0,0,0,0,0,0,1
66380547,12500,9.17,35.39,108900,0,1,0,0,0,0,0,0,1,0,0,0,0
28782740,16000,13.35,12.53,50000,0,0,1,0,0,0,0,0,0,0,0,0,1
41399137,2000,16.99,17.75,48000,0,0,0,1,0,0,0,0,0,0,0,0,1
55118185,7000,12.29,15.41,38000,0,0,1,0,0,0,0,0,0,0,0,0,1
15311203,16000,19.99,15.87,126000,0,0,0,0,1,0,0,0,0,0,0,0,1
34964540,16000,10.49,12.00,50000,0,1,0,0,0,0,0,0,1,0,0,0,0
46486173,12500,24.50,17.53,45000,0,0,0,0,0,1,0,0,0,0,0,0,1
5647388,4000,15.80,16.80,78000,0,0,1,0,0,0,0,0,0,0,0,0,1
5757117,8500,11.14,31.57,36000,0,1,0,0,0,0,0,0,1,0,0,0,0
7390368,30000,16.20,17.46,86000,0,0,1,0,0,0,0,0,1,0,0,0,0
877471,12000,5.99,12.62,80000,1,0,0,0,0,0,0,0,1,0,0,0,0
13066861,16550,14.64,24.65,52000,0,0,1,0,0,0,0,0,1,0,0,0,0
50605427,30000,9.17,4.07,250000,0,1,0,0,0,0,0,0,1,0,0,0,0
6707482,10000,11.55,10.90,62000,0,1,0,0,0,0,0,0,1,0,0,0,0

In [86]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics

In [98]:
skf = cv.StratifiedKFold(y_train, n_folds=3)

for in_idx, out_idx in skf:
    X_in, y_in = X_train.iloc[in_idx], y_train.iloc[in_idx]
    X_out, y_out = X_train.iloc[out_idx], y_train.iloc[out_idx]
    
    dtc = DecisionTreeClassifier(max_depth=20)
    dtc.fit(X_in, y_in)
    y_out_hat = dtc.predict(X_out)
    y_in_hat = dtc.predict(X_in)
    
    acc = metrics.accuracy_score(y_out, y_out_hat)
    roc_auc = metrics.roc_auc_score(y_out, y_out_hat)
    tr_acc = metrics.accuracy_score(y_in, y_in_hat)
    tr_roc_auc = metrics.roc_auc_score(y_out, y_out_hat)
    print("Training Accuracy", tr_acc)
    print("Training ROC AUC", tr_roc_auc)
    print("Out of Fold Accuracy", acc)
    print("Out of Fold ROC AUC", roc_auc)

Training Accuracy 0.936513946737
Training ROC AUC 0.538832835153
Out of Fold Accuracy 0.899664632222
Out of Fold ROC AUC 0.538832835153
Training Accuracy 0.938961887805
Training ROC AUC 0.53841913273
Out of Fold Accuracy 0.89509745587
Out of Fold ROC AUC 0.53841913273
Training Accuracy 0.936856814443
Training ROC AUC 0.538794089183
Out of Fold Accuracy 0.898703593516
Out of Fold ROC AUC 0.538794089183

In [102]:
from sklearn.grid_search import GridSearchCV
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier()
params = {"max_depth": (5, 7, 10),
         "n_estimators": (10, 20)}
est = GridSearchCV(rfc, params)
est.fit(X_train, y_train)

GridSearchCV(cv=None, error_score='raise',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'max_depth': (5, 7, 10), 'n_estimators': (10, 20)},
       pre_dispatch='2*n_jobs', refit=True, scoring=None, verbose=0)

In [104]:
y_tr_hat = est.predict(X_train)
metrics.roc_auc_score(y_tr_hat, y_train)

0.94280937798392517

In [105]:
y_test_hat = est.predict(X_test)
metrics.roc_auc_score(y_test_hat, y_test)

0.85476295741089603

## More things to try! Time depending.